@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-timepicker/jquery.timepicker.min.css" rel="stylesheet" />
    <link href="~/css/MainLayout.css" rel="stylesheet" />




    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-timepicker/jquery.timepicker.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>




    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">


    <script>
        function openSideBar() {
            document.getElementById('sidebar').style.width = '200px';
            document.getElementById('sidebar').style.left = '0px';
            document.getElementById('content').style.left = '200px';
            document.getElementById("openIcon").style.visibility = "hidden";
            //document.getElementById("openIcon").style.visibility = "visible";
        }

        function closeSideBar() {
            document.getElementById('sidebar').style.width = '0px';
            document.getElementById('sidebar').style.left = '-200px';
            document.getElementById('content').style.left = '0px';
            document.getElementById("openIcon").style.visibility = "visible";
            //document.getElementById("openIcon").style.visibility = "hidden";
        }
    </script>


</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm myNavbar">
            <a href="#" class="navbar-brand">Absence & Coverage Management System</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon">
                    <i class="material-icons">menu</i>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav ml-auto">
                    <!--Dropdown Menu-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                            <span class="icon"><i class="fas fa-user fa-sm"></i></span>
                            <span class="text-light">@User.Identity.Name</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">My Profile</a>
                            <form method="post" asp-controller="Account" asp-action="LogOut" asp-area="">
                                <button type="submit" class="dropdown-item">Log Out</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="topBorder">
        <a onclick="openSideBar()">
            <span  class="openIcon">
                <i id="openIcon" class="material-icons">double_arrow</i>
            </span>
        </a>
    </div>

    <aside id="sidebar" class="sidebarMenu ">

        <div id="closeIcon">
            <span onclick="closeSideBar()">
                <i class="material-icons">clear</i>
            </span>
        </div>

        <ul class="list-unstyled components">
            <li class="subHeader">
                <span><b>My Tools</b><i class="fas fa-wrench icon"></i></span>
            </li>

            <li>
                <a asp-controller="Home" asp-action="Index" asp-area="" >
                    <span class="icon">
                        <i class="material-icons" style="font-size: 18px;">dashboard</i>
                    </span>Dashboard
                </a>
            </li>


        <li>
            <a asp-controller="Absence" asp-action="Add" asp-area="">
                <span class="icon">
                    <i class="fas fa-calendar-times fa-fw"></i>
                </span>
                Request an Absence
            </a>
        </li>
        <li>
            <a asp-controller="Absence" asp-action="List" asp-area="">
                <span class="icon">
                    <i class="fas fa-history"></i>
                </span>
                Absence History
            </a>
        </li>


            @if (User.IsInRole("Admin"))
            {
                <li class="subHeader">
                    <span><b>Admin Tools</b><i class="fas fa-wrench icon"></i></span>
                </li>

                <li>
                    <a asp-controller="User" asp-action="List" asp-area="Admin">
                        <span class="icon">
                            <i class="fas fa-user-circle"></i>
                        </span>Manage Users
                    </a>
                </li>

                <li>
                    <a asp-controller="Role" asp-action="List" asp-area="Admin">
                        <span class="icon">
                            <i class="fas fa-users"></i>
                        </span>Manage Roles
                    </a>
                </li>
            }

            @if (User.IsInRole("Operations"))
            {
                <li>
                    <a href="#sideOp" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-cogs icon"></i>Operations
                    </a>
                    <ul class="collapse list-unstyled" id="sideOp">
                        <li>
                            <a href="#">Manage Absence Requests</a>
                        </li>
                        <li>
                            <a href="#">Manage Coverage</a>
                        </li>
                        <li>
                            <a href="#">Campus Info</a>
                        </li>
                        <li>
                            <a href="#">Periods Info</a>
                        </li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Teacher"))
            {
                <li>
                    <a href="#sideTeacher" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-chalkboard-teacher icon"></i>Teacher
                    </a>
                    <ul class="collapse list-unstyled" id="sideTeacher">
                        <li>
                            <a href="#">Coverage Requests</a>
                        </li>
                        <li>
                            <a href="#">Coverage Assignments</a>
                        </li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Sub-Teacher"))
            {

                <li>
                    <a href="#sideSub" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-chalkboard icon"></i>Sub-Jobs
                    </a>
                    <ul class="collapse list-unstyled" id="sideSub">
                        <li>
                            <a href="#">Available Jobs</a>
                        </li>
                        <li>
                            <a href="#">Scheduled Jobs</a>
                        </li>
                        <li>
                            <a href="#">Sub History</a>
                        </li>
                    </ul>
                </li>
            }

        </ul>
    </aside>

    <!--Main Body-->
    <main>
        <div id="content" class="view-content">
            @RenderBody()
        </div>
    </main>

</body>
</html>


