@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-timepicker/jquery.timepicker.min.css" rel="stylesheet" />
    <link href="~/css/MainLayout.css" rel="stylesheet" />




    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-timepicker/jquery.timepicker.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>




    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">



</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm  ">
            <a class="navbar-brand"  asp-area="" asp-controller="Home" asp-action="Index" >
                <span class="mr-2">
                    <i class="fas fa-school"></i>
                </span>
            Absence & Coverage Management System
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
                <span class="text-white">
                    <i class="material-icons">menu</i>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav ml-auto">
                    <!--Dropdown Menu-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                            <span class="mr-1"><i class="fas fa-user fa-sm"></i></span>
                            <span>@User.Identity.Name</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">My Account</a>
                            <form method="post" asp-controller="Account" asp-action="LogOut" asp-area="">
                                <button type="submit" class="dropdown-item">Log Out</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

<aside id="sidebar" class="sidebarMenu ">

    <ul class="list-unstyled components">

        <li class="sidebarMenu-subHeader">
            <span>
                My Tools
            </span>
        </li>


        <li>
            <a asp-controller="Home" asp-action="Index" asp-area="">
                <span>
                    <i class="material-icons" style="font-size: 15px;">dashboard</i>
                    Dashboard
                </span>
            </a>
        </li>

        <li>
            <a asp-controller="Home" asp-action="Index" asp-area="" >
                <span class="icon" style="font-size: 15px">
                    <i class="far fa-address-card"></i>
                </span>
                Profile
            </a>
        </li>

        <li class="sidebarMenu-subHeader">
            <span>
                Absences
            </span>
        </li>

        <li>
            <a asp-controller="Absence" asp-action="List" asp-area="">
                <span class="icon">
                    <i class="fas fa-history"></i>
                </span>
                Absence History 
            </a>
        </li>

        <li>
            <a asp-controller="Absence" asp-action="Add" asp-area="">
                <span class="icon">
                    <i class="fas fa-calendar-times fa-fw"></i>
                </span>
                Request an Absence
            </a>
        </li>




        @if (User.IsInRole("Sub-Teacher"))
        {
            <li class="sidebarMenu-subHeader">
                <span>
                    Sub Jobs
                </span>
            </li>

            <li>
                <a asp-controller="Absence" asp-action="List" asp-area="">
                    <span class="icon">
                        <i class="fas fa-history"></i>
                    </span>
                    Sub Job History
                </a>
            </li>
            <li>
                <a asp-controller="Absence" asp-action="List" asp-area="">
                    <span class="icon">
                        <i class="fas fa-chalkboard"></i>
                    </span>
                    Available Sub Jobs
                </a>
            </li>
        }


        @if (User.IsInRole("Manager"))
        {
            <li class="sidebarMenu-subHeader">
                <span>
                    Operations
                </span>
            </li>

            <li>
                <a asp-controller="Absence" asp-action="List" asp-area="">
                    <span class="icon">
                        <i class="far fa-calendar-check"></i>
                    </span>
                    Manage Absence Requests
                </a>
            </li>
            <li>
                <a asp-controller="Absence" asp-action="List" asp-area="">
                    <span class="icon">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </span>
                    Manage Coverage
                </a>
            </li>
            <li>
                <a asp-controller="Absence" asp-action="List" asp-area="">
                    <span class="icon">
                        <i class="fas fa-building"></i>
                    </span>
                    Campus Info
                </a>
            </li>
        }




        @if (User.IsInRole("Admin"))
        {

            <li class="sidebarMenu-subHeader">
                <span>
                    Admin
                </span>
            </li>

            <li>
                <a asp-controller="User" asp-action="List" asp-area="Admin">
                    <span class="icon">
                        <i class="fas fa-user-circle"></i>
                    </span>
                    Users
                </a>
            </li>
            <li>
                <a asp-controller="Role" asp-action="List" asp-area="Admin">
                    <span class="icon">
                        <i class="fas fa-users"></i>
                    </span>
                    Roles
                </a>
            </li>

            @*<li>
                <a href="#downAdminTools" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <span class="icon">
                        <i class="fas fa-tools"></i>
                    </span>
                    Admin
                </a>
                <ul class="collapse sidebarMenu-dropdown" id="downAdminTools">
                    <li>
                        <a asp-controller="User" asp-action="List" asp-area="Admin">
                            Manage Users
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Role" asp-action="List" asp-area="Admin">
                            Manage Roles
                        </a>
                    </li>
                </ul>
            </li>*@
        }




    </ul>
</aside>

    <!--Main Body-->
    <main>
        <div id="content" class="view-content">
            <div class="container-fluid ">
                @RenderBody()
            </div>

        </div>
    </main>

</body>
</html>


