* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-color: rgb(230, 234, 247);*/
    background-color: #F2F8FD;
}

.navbar, .sidebarMenu {
    background-color: #00316E;
    position: fixed;
    left: 0;
}

.sidebarMenu, .view-content {
    /*top: 101px;*/
    top: 57px;
}


.navbar {
    /*background-color: #022444;*/
    border-bottom: solid 2px #00224D;
    box-shadow: 0 0.125rem 0.25rem #001D42;
    padding-right: 30px;
    top: 0;
    right: 0;
    z-index: 100;
}

    .navbar .navbar-brand, .navbar .nav-link {
        color: white;
        font-size: 15px;
    }

        .myNavbar .navbar-brand:hover, .myNavbar .nav-link:hover {
            color: rgb(204, 226, 245);
        }



.sidebarMenu {
    padding-top: 10px;
    width: 230px;
    height: 100%;
    z-index: 1;
}


    .sidebarMenu ul li {
        list-style: none;
        /*border-bottom: 1px solid rgba(179, 178, 178, 0.2);*/
    }

    .sidebarMenu ul a {
        text-decoration: none;
        display: block;
        padding: 5px 5px 5px 15px;
        color: #c7e0f4;
        transition: .4s;
        font-size: 16px;
    }

    .sidebarMenu a:hover {
        background-color: #001D42;
    }


.sidebarMenu-subHeader {
    color: #92bef5;
    font-family: Arial;
    font-size: medium;
    text-shadow: 5px 5px 10px black;
    padding: 10px 10px 5px 10px;
    border-bottom: 1px solid rgba(179, 178, 178, 0.3);
}



.icon {
    font-size: 15px;
    padding-right: 5px;
    padding-left: 5px;
}

.material-icons {
    vertical-align: middle;
    padding-right: 5px;
    padding-left: 5px;
}


.view-content {
    position: absolute;
    left: 230px;
    right: 0px;
    min-height: 100%;
    z-index: 1;
}

.view-header {
    font-family: Arial;
    color: #005a9e;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #71afe5;
}

.form-section {
    background-color: white;
    padding: 0px 5px 5px 5px;
    margin-bottom: 10px;
    border: 1px solid #c7e0f4;
}

.form-section-header {
    background-color: #01579b;
    padding: 5px 5px 0px 5px;
    margin-bottom: 10px;
    color: white;
}

.form-section-footer {
    /*background-color: #01579b;*/
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    /*border-top: 1px solid #c7e0f4;*/
}


/*Calendar/Time icons*/
.form-icon {
    background-color: #eff6fc;
    color: #005a9e;
}


.form-label {
    color: #005a9e;
    font-weight: bold;
}

label {
    margin-bottom: 3px;
    font-family: Arial;
    font-size: small;
}


.form-group {
    margin-bottom: 5px;
}





.table-container{
    padding-left: 15px;
    padding-right: 15px;
}

table {
    border: solid 1px #c7e0f4;
}

th, td {
    border-bottom: 1px solid #c7e0f4;
    font-family: Calibri;
    font-weight: normal;
}

thead {
    background-color: #01579b;
    color: white;
    font-family: Calibri;
    font-size: medium;
}

tbody {
    background-color: white;
}




.search-container {
    background-color: white;
    margin: 20px 15px 25px 15px;
    padding: 10px 20px 10px 20px;
}


.content-container {
    background-color: white;
    margin: 20px 15px 25px 15px;
    padding: 10px 20px 10px 20px;
}





/*.temp-data-message, .validation-summary-errors {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}*/


.validation-summary-valid{
    display: none;
}


    .validation-summary-errors ul {
        list-style: none;
        padding-left: 30px;
    }

.input-validation-error{
    border: solid 1px #dc3545; 
}

