* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar, .sidebarMenu {
    background-color: #00316E;
    position: fixed;
    left: 0;
}

.sidebarMenu, .view-content {
    /*top: 101px;*/
    top: 57px;
}


.navbar {
    /*background-color: #022444;*/
    border-bottom: solid 2px #00224D;
    box-shadow: 0 0.125rem 0.25rem #001D42;
    padding-right: 30px;
    top: 0;
    right: 0;
    z-index: 100;
}

    .navbar .navbar-brand, .navbar .nav-link {
        color: white;
        font-size: 15px;
    }

        .myNavbar .navbar-brand:hover, .myNavbar .nav-link:hover {
            color: rgb(204, 226, 245);
        }



.sidebarMenu {
    /*background-color: #022444;*/
    padding-top: 10px;
    width: 230px;
    height: 100%;
    z-index: 1;
}


    .sidebarMenu ul li {
        list-style: none;
        /*border-bottom: 1px solid rgba(179, 178, 178, 0.2);*/
    }

    .sidebarMenu ul a {
        text-decoration: none;
        display: block;
        padding: 5px 5px 5px 15px;
        color: #c7e0f4;
        transition: .4s;
        font-size: 16px;
    }

    .sidebarMenu a:hover {
        background-color: #001D42;
    }


.sidebarMenu-subHeader {
    color: #92bef5;
    font-family: Arial;
    font-size: medium;
    text-shadow: 5px 5px 10px black;
    padding: 10px 10px 5px 10px;
    border-bottom: 1px solid rgba(179, 178, 178, 0.3);
}



.icon {
    font-size: 15px;
    padding-right: 5px;
    padding-left: 5px;
}

.material-icons {
    vertical-align: middle;
    padding-right: 5px;
    padding-left: 5px;
}


.view-content {
    background-color: white;
    position: absolute;
    left: 230px;
    right: 0px;
    min-height: 100%;
    z-index: 1;
}

.view-header {
    font-family: Arial;
    color: #00316E;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #71afe5;
}

.form-section {
    padding: 0px 5px;
    margin-bottom: 20px;
    border: 1px solid #71afe5;
}

.form-section-title {
    background-color: #eff6fc;
    color: #00316E;
    border-bottom: 1px solid #71afe5;
}

.form-label {
    color: #005a9e;
    font-family: Arial;
    font-size: medium;
}

.form-icon {
    background-color: #eff6fc;
    color: #005a9e;
}

label {
    margin-bottom: 0px;
    font-family: Arial;
}

.form-group {
    margin-bottom: 5px;
}


thead {
    background-color: #c7e0f4;
    color: #00316E;
    font-family: Arial;
}

th, td {
    border: 2px solid #eff6fc;
}


.temp-data-error {
    margin: 20px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 10px;
    border: solid 1px #dc3545;
    color: #dc3545;
}

.validation-summary-valid{
    display: none;
}

.validation-summary-errors {
    margin: 20px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 10px;
    border: solid 1px #dc3545;
    color: #dc3545;
}

    .validation-summary-errors ul {
        list-style: none;
        padding-left: 30px;
    }

.input-validation-error{
    border: solid 1px #dc3545; 
}

