
@model RoleAddViewModel


@{
    ViewData["Title"] = "Add Role";
}



<div class="view-header">
    <h5> Add Role</h5>
</div>

<div class="alert alert-danger" asp-validation-summary="All">
    <h6>
        <span>
            <i class="fas fa-exclamation-triangle"></i>
        </span>
        Please correct the following.
    </h6>
</div>

<div class="text-danger text-sm-left" asp-validation-summary="All"></div>

<div class="card">
    <h5 class="card-header ">Role</h5>
    <div class="card-body">
        <form method="post" asp-action="Add">
            <div class="form-group">
                <label asp-for="RoleName">Role Name</label>
                <input class="form-control" asp-for="RoleName" />
                <span class="text-danger" asp-validation-for="RoleName"></span>
            </div>

            <button class="btn btn-primary ">Add Role</button>
            <a class="btn btn-success " asp-action="List">Cancel</a>
        </form>
    </div>
</div>

