
@{
    ViewData["Title"] = "AssignRole";
}

<h1>AssignRole</h1>

<div class="form-group col-md-4">
    <label for="inputState">Role Name</label>
    <select id="inputState" class="form-control">
        <option selected>Choose A Role</option>
        <option>...</option>
    </select>
</div>


<label>Search by Keybord : </label>
<input class="form-control" placeholder="Enter User Id, Username, or Email" />

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ID</td>
            <td>Username</td>
            <td>Email</td>
            <td><input type="checkbox" ></td> <!--Add to Model List-->
        </tr>
    </tbody>
</table>
